# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.installed.cfg
*.egg

# wirtualne srodowisko
venv/
env/
.venv/

# baza danych
*.sqlite3
db.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# system
.DS_Store
Thumbs.db